{% extends 'base.html.twig' %}
{% block title %}BikeLando - Trasy{% endblock %}
 {% block body1 %}
     <div class="col">
         <form class="form-inline" style="float: right">
             <div class="form-group mb-1">
                 <input type="email" class="form-control" id="exampleInputEmail1" aria- describedby="emailHelp" placeholder="Email">
             </div>
             <div class="form-group mx-sm-1 mb-1">
                 <input type="password" class="form-control" id="inputPassword2" placeholder="Hasło">
             </div>
             <button type="submit" class="btn btn-outline-dark mb-1">Zaloguj się</button>
         </form>
     </div>
     </div>
     <!-- Rejestracja i nowe hasło-->
     <div class="row">
         <div class="col">
             <a href="{{ path('app_register')}}" lass="badge badge-light" style="float: right; margin-left: 10px">Dołącz do nas!</a>
             <a href="{{ path('reset')}}" lass="badge badge-light" style="float: right">Nie pamietam hasła</a>
         </div>
     </div>
 {% endblock %}
{%  block body2 %}
<div class="row">
    <div class="col">
        <nav class="nav navbar-light">
            <a class="nav-link btn btn-outline-dark " style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom-color: transparent" href="{{ path('home') }}">Strona główna</a>
            <a class="nav-link btn btn-outline-dark active" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom-color: transparent" href="{{ path('tours') }}">Trasy</a>
            <a class="nav-link btn btn-outline-dark " style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom-color: transparent" href="{{ path('about') }}">O nas</a>
        </nav>
    </div>
</div>

    {% endblock %}
{% block body %}
    <div class="row" >
        <div class="col">
            <div class="card-group">
                <div class="card bg-transparent border-dark">
                    <div class="card-body">
                        <h5 class="card-title">Wyszukaj</h5>
                        <p class="card-text">Wybierz kryteria wyszukiwania</p>
                        <form>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Ocena trasy</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect2">Trudność trasy</label>
                                        <select class="form-control" id="exampleFormControlSelect2">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect3">Region</label>
                                        <select class="form-control" id="exampleFormControlSelect3">
                                            <option>Dolnośląskie</option>
                                            <option>Kujawsko-Pomorskie</option>
                                            <option>Lubelskie</option>
                                            <option>Lubuskiej</option>
                                            <option>Lódzkie</option>
                                            <option>Małopolskie</option>
                                            <option>Mazowieckie</option>
                                            <option>Opolskie</option>
                                            <option>Podkarpackie</option>
                                            <option>Podlaskie</option>
                                            <option>Pomorskie</option>
                                            <option>Śląskie</option>
                                            <option>Świętokrzyskie</option>
                                            <option>Warmińsko-Mazurskie</option>
                                            <option>Wielkopolskie</option>
                                            <option>Zachodniopomorskie</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <button type="button" class="btn btn-outline-info" style="float: right">Wyszukaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row" id="zakladki">
    <div class="col">
        <div class="card-group">
            <div class="card bg-transparent border-dark">
                <img class="card-img-top" src="..." alt="Tu ładuje mapke z googla da sie po linku i jest to na mojej stronie">
                <div class="card-body">
                    <h5 class="card-title">Tutaj ładujemy tytuł</h5>
                    <p class="card-text">I jak zrobimy to w pętli to będą się ładować obok siebie i będzie ładnie, a tu opis trasy damy.</p>
                </div>
                <div class="card-footer bg-transparent border-dark">
                    <small class="text-muted">Data wpisana przez usera</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}