{# Małgorzata Wieteska #}
{% extends 'base.html.twig' %}
{% block title %}BikeLando - Trasy{% endblock %}

{% block body %}
    <div class="card bg-transparent border-dark">
        <iframe src="{{ tour.linkToMap }}" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="card-body">
            <h4 class="card-title">{{ tour.name }}</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Długość</th>
                    <th scope="col">Trudność</th>
                    <th scope="col">Region</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Ocena</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ tour.length }}</th>
                    <th>{{ tour.difficulty }}</th>
                    <th>{{ tour.region }}</th>
                    <th>{{ author.username }}</th>
                    <th>{{ tour.note }}</th>
                </tr>
                </tbody>
            </table>
            <p>{{ tour.description }}</p>
            {% if app.user %}
            <h5>Ocena <br></h5>
            {{ form_start(form_note)  }}
            {{ form_row(form_note.note,  {
                label: ' '
            }) }}

            {{ form_widget(form_note) }}
            {{ form_end(form_note) }}
            <br>
            {% endif %}
            <a href="{{ path('tours') }}">Powrot</a>
        </div>
    </div>
{% endblock %}