{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row" id="zakladki">
    <div class="col">
        <div class="card bg-transparent border-dark">
            <div class="card-body">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Dołącz do nas!</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Hasło'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-outline-success">Zarejestruj</button>

        {{ form_end(registrationForm) }}
    </div>
</div>
    </div></div>
{% endblock %}
