{# Aleksandra Rawicz Adam Hilaruk Małgorzata Wieteska #}
{% extends 'base.html.twig' %}
{% block title %}BikeLando - Edytuj dane{% endblock %}
{% block body %}<!-- edycja hasła-->
{% if app.user  %}<!-- zalogowany -->
<div class="row" id="zakladki">
    <div class="col">
        <div class="card bg-transparent border-dark">
            <div class="card-body">
                {% for flashMessage in app.session.flashbag.get('password_error') %}
                    <div class="alert alert-danger">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {{ form_start(form)  }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
    {% endif %}

    {% if app.user == null %}<!-- nie zalogowany -->
        <div class="alert alert-danger" role="alert">
            Część dostępna wyłącznie dla użytkowników portalu, cofnij się do części dostępnej powszechnie <a href="{{ path('index') }}" class="alert-link"> Kliknij </a>.
        </div>
    {% endif %}
{% endblock %}