{% extends 'base.html.twig' %}
{% block title %}BikeLando - Twoje trasy{% endblock %}

{% block body %}
{% if app.user %}
    {% if tours2 %}
        <div class="row" id="zakladki">
            <div class="col">
                <div class="card bg-transparent border-dark">
                    <div class="card-header bg-transparent border-dark">
                        Twoje trasy
                    </div>
        </div></div></div>
        {% for tour in tours2 %}
            <div class="row" id="zakladki">
                <div class="col">
                    <div class="card-group">
                        <div class="card bg-transparent border-dark">

                            <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                                <iframe src="{{ tour.linkToMap }}" style="border:0" allowfullscreen></iframe>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ tour.name }}</h5>
                                <a class="btn  btn-dark" href="/tour/{{ tour.id }}/{{ app.user.email }}">Więcej</a>
                                <a class="btn  btn-dark" href="/delete/tour/{{ tour.id }}">Usuń trasę</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No tours to display</p>
    {% endif %}

    {% endif %}
    {% if app.user == null %}
        <div class="alert alert-danger" role="alert">
            Część dostępna wyłącznie dla użytkowników portalu, cofnij się do części dostępnej powszechnie <a href="{{ path('index') }}" class="alert-link"> Kliknij </a>.
        </div>
    {% endif %}
{% endblock %}