{% extends 'base.html.twig' %}
{% block title %}BikeLando - Reset hasła{% endblock %}
 {% block body1 %}
     <div class="col">
         <form class="form-inline" style="float: right">
             <div class="form-group mb-1">
                 <input type="email" class="form-control" id="exampleInputEmail1" aria- describedby="emailHelp" placeholder="Email">
             </div>
             <div class="form-group mx-sm-1 mb-1">
                 <input type="password" class="form-control" id="inputPassword2" placeholder="Hasło">
             </div>
             <button type="submit" class="btn btn-outline-dark mb-1">Zaloguj się</button>
         </form>
     </div>
     </div>
     <!-- Rejestracja i nowe hasło-->
     <div class="row">
         <div class="col">
             <a href="{{ path('app_register')}}" lass="badge badge-light" style="float: right; margin-left: 10px">Dołącz do nas!</a>
             <a href="{{ path('reset')}}" lass="badge badge-light" style="float: right">Nie pamietam hasła</a>
         </div>
     </div>
 {% endblock %}
{%  block body2 %}
    <div class="row">
        <div class="col">
            <nav class="nav navbar-light">
                <a class="nav-link btn btn-outline-dark " style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom-color: transparent" href="{{ path('home') }}">Strona główna</a>
                <a class="nav-link btn btn-outline-dark " style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom-color: transparent" href="{{ path('tours') }}">Trasy</a>
                <a class="nav-link btn btn-outline-dark " style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom-color: transparent" href="{{ path('about') }}">O nas</a>
            </nav>
        </div>
    </div>

{% endblock %}
{% block body %}
    <div class="row" id="zakladki">
        <div class="col">
            <div class="card-group">
                <div class="card bg-transparent border-dark">
                    <div class="card-body">
                        <h5 class="card-title">Przypomnij hasło</h5>
                        <form>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Przypomnij hasło</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}